.sign-in-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    background-color: #fff;
}

.sign-in-heading {
    text-align: center;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.form-group input {
    height: 30px;
    padding: 5px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group label {
    padding-bottom: 5px;
}

.sign-in-btn {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-toggle {
    position: absolute;
    bottom: 125px;
    right: 25px;
}

.sign-up-redirect{
    display: flex;
    
}

.con-google{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    /* width: 100%; */
    border:1px solid black;
    border-radius:2px;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    position: relative;
}

.or {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; /* Optional: Adding a background to improve visibility */
    padding: 0 10px; /* Optional: Adding padding for better appearance */
    top: -0.5em; /* Adjust vertical position to center */
}


@media screen and (min-width: 300px) and (max-width: 450px) {
    .sign-in-container{
        max-width: 250px;
    }
}
